[submodule "api"]
	path = api
	url = https://github.com/lfunny/api.git
[submodule "parser"]
	path = parser
	url = https://github.com/lfunny/parser.git
[submodule "classifier"]
	path = classifier
	url = https://github.com/lfunny/classifier.git
[submodule "pysvm"]
	path = pysvm
	url = https://github.com/lfunny/pysvm.git
